
  @import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
.g{
    font-size: 100px;
    color: #088af8;
}
.o{
    font-size: 100px;
    color: #ff4737;
    font-family:'Fuggles', cursive;
}
.a{
    font-size: 100px;
    color: #ffbf08;
}
.l{
    font-size: 100px;
    color: #08ad51;
}
.e{
    font-size: 100px;
    color: #ff4535;
}

h1{
    background-color: grey;
    color: white;
    width: 200px;
    font-family:'Roboto', sans-serif;
}
p{
    background-color: brown;
    color: aqua;
}
/* rgb */