.a{
    color: #e03131;
    font-family: 'Fuggles', cursive;
    font-size: medium;
    font-weight: bolder;  
}
.h5{
    color: rgba(24, 23, 23, 0.315);

}
.t{
    color: white;
}
.r{
    font-size: larger;
    font-weight: bolder;
}
.j{
    color: white;
    width: 500px;
    background-color: #e03131;
}
